#main_container{
	margin-top: 50px;
	width:1000px;
}
.navbar-inner a{
	text-decoration: none;
}
.navbar-inner > .container {
	width:800px !important;
}
.top_dropdown{
	position: absolute;
	top:0px;
	right:0px;
}
#trend_container, #favorite_container{
	border-top: 1px solid lightgray;
	padding:15px;
	padding-top:21px;
}
div.arrow-up {
	width:0px;
	height:0px;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	border-bottom:18px solid lightgray;
	font-size:0px;
	line-height:0px;
}
.upvoted{
	border-bottom-color:#57A85D !important;
}
.downvoted{
	border-top-color:red !important;
}
div.arrow-down {
	width:0px;
	height:0px;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	border-top:18px solid lightgray;
	font-size:0px;
	line-height:0px;
}
.vote_count{
	width:20px;
	height:20px;
	text-align:center;
}
.vote_container{
	position:absolute;
	top: 3px;
	left: 8px;
}
.comment > .vote_container{
	top: 15px;
	left: 18px;
}
.comment_link{
	top: 54px;
	left: 193px;
	position: absolute;
	height: 14px;
	width:33px;
}

.favorite_link{
	position: absolute;
	height: 25px;
	width: 33px;
	top: 54px;
	left: 152px;
}
.comment_favorite_link{
	left: 181px !important;
}
#track_container{
	margin-top:20px;
}
#play-all{
	position: absolute;
	top: 3px;
	left: 266px;
}
#play-next{
	position: absolute;
	left: 310px;
	top: 3px;
}
#play-prev{
	position:absolute;
	left: 221px;
	top: 3px;
}
.playing-all{
	/*	background: url('/img/pause.png') !important;*/
}
.player-active{

}

/* ------- Comments ------- */

#add_comment_container{
	position:relative;
}
#add_comment_container textarea{
	width: 317px;
	margin: 0px 0px 9px;
	height: 49px;
}
#comment_container{

}
.comment{
	position: relative;
	height:auto;
	width: 90%;
	margin-top: 27px;
	border: 1px solid lightgray;
	padding: 45px;
	padding-top: 30px;
	padding-bottom: 30px;
}
.top_comment_area{
	position: relative;
	height: 80px;
	width:353px;
}
.top_comment_area > textarea{
	width: 353px;
	height: 65px;
}
.reply, .hide_children{
	color:gray;
	display:inline-block;
}
.comment_reply_submit, .cancel_reply{
	position: relative;
	bottom: 5px;
	right: 3px;
}
.reply:hover, .hide_children:hover{
	color:navy;
}
.comment_count{
	color:gray;
	position:absolute;
	top:0px;
	left:0px;
	border-right: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
	padding: 2px;
}
#trend_container > .track_container > .sc-player > .comment_count {
	top: -20px !important;
}

/* heart shape */
.heart-shape {
    position: absolute;
	width: 17px;
	height: 13px;
	margin: 0px 0px;
	right: 7px;
	bottom: 5px;
}
.heart-shape:before,
.heart-shape:after {
    position: absolute;
	content: "";
	left: 8px;
	width: 9px;
	height: 13px;
	background: black;
	-moz-border-radius: 50px 50px 0 0;
	border-radius: 50px 50px 0 0;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transform-origin: 0 100%;
	-moz-transform-origin: 0 100%;
	-ms-transform-origin: 0 100%;
	-o-transform-origin: 0 100%;
	transform-origin: 0 100%;
}

.red-heart:before,.red-heart:after, .favorited:before, .favorited:after{
	background: red !important;
}

.heart-shape:after {
    left: 0;
    -webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
	-moz-transform-origin: 100% 100%;
	-ms-transform-origin: 100% 100%;
	-o-transform-origin: 100% 100%;
	transform-origin :100% 100%;
}

/* speech bubble */

/**** Speech Bubble Icons *****/
.spch-bub-outside {
	position: relative;
}
.spch-bub-outside .point {
	width: 0;
	height: 0;
	position: absolute;
	top: 1.1em;
	left: 0.4em;
	display: block;
	border-left: 0.45em solid black;
	border-bottom: 0.45em solid #FFF; /* IE fix */
	border-bottom: 0.45em solid rgba(0,0,0,0);
	overflow: hidden; /* IE fix */
}
.spch-bub-outside {
	padding-left: 2.0em;
}
.spch-bub-outside .bubble {
	top: 0;
	left: 0;
	display: block;
	position: absolute;
	height: 1.1em;
	width: 1.8em;
	background: black;
	-moz-border-radius: 0.25em;
	-webkit-border-radius: 0.25em;
	border-radius: 0.25em;
}
.comment_point_hover{
	border-left-color: navy !important;
}
.comment_bubble_hover{
	background: navy !important;
}
.comment_user_name{
	color: gray;
	position: absolute;
	top: 0px;
	right: 8px;
}
div.spch-bub-outside {
	height: 1.5em;
	width: 0;
}